@import "global/variables"; 
/* Table */
td, th {
    text-align: left;
    padding: 10px 1.2em 10px 10px;
}

// border-bottom: 1px solid #ccc;
table {
    font-size: 16px;
    border-collapse: collapse;
    padding-bottom: 20px;
    caption {
        padding: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}

thead th {
    &:hover {
        cursor: pointer;
    }
}

tbody th {
    font-weight: normal;
}

tr:nth-child(odd) td {
    background-color: $gray_light;  
}

@media (max-width: 545px) {
    table {
        font-size: 14px;
    }
   	table, thead, tbody, th, td, tr, caption { 
		display: block; 
    }
    thead {
        margin-top: 1em;
        margin-bottom: 1em;
        display: grid;
        &:before {
            content: "Sort by: ";
            margin-bottom: 5px;
            grid-column: 1/4;
        }
    }
    thead th {
        display: inline;
        padding: 10px 0;
        margin-right: 20px;
        font-weight: normal;
    }
	tbody tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1em;
    }
    tbody th[data-title="Name"] {
        grid-column: 1/4;
        padding-left: 0;
    }
    tbody th[data-title="Posts"],
    tbody th[data-title="Comments/Post"] {
        grid-column: 1/2;
    }
    tr td {
        background-color: $gray_light;  
    }
    td:nth-of-type(1):before { content: "Posts: "; font-weight: bold; }
    td:nth-of-type(2):before { content: "Comments: "; font-weight: bold; }
}

@media (max-width: 350px) {
    thead th {
        margin-right: 5px;
    }
}

.arrow-down:before {
    margin-top: -3px;
    margin-left: 4px;
}

