<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sample App">
    <meta name="apple-mobile-web-app-title" content="Sample App">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="A sample test app with users, posts and comments">
    <title>Sample App</title>
    <link rel="preload" href="/static/fonts/open-sans-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/fonts/open-sans-v15-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="/static/global.css" rel="stylesheet">
</head>
<body>
<h1 class="site-logo">Sample App</h1>
{% block content %}
    Gets replaced by template content
{% endblock %}
</body>
</html>




